<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>178</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>177</string>
					<key>Timestamp</key>
					<string>725286681.69787</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PodcastClient/PlayerClasses/PodcastParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    
</string>
				<key>leading</key>
				<string>    }
    
</string>
				<key>trailing</key>
				<string>    func parserDidEndDocument(_ parser: XMLParser) {
        podcastDictArr.updateValue(episodesArray, forKey: "episodes")
       print("parser finished")
</string>
			</dict>
			<key>title</key>
			<string>Check if the episode is already linked to the Podcast</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>94</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>93</string>
					<key>Timestamp</key>
					<string>726583808.708988</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PodcastClient/AdditionalClasses/SubscriptionManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        
</string>
				<key>leading</key>
				<string>        }

</string>
				<key>trailing</key>
				<string>        if let data = try? Data(contentsOf: url){
            await addPodcastsfrom(OPMLfile: data)
        }else{
</string>
			</dict>
			<key>title</key>
			<string>Check if OPML file is valid XML</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>198</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>197</string>
					<key>Timestamp</key>
					<string>726735432.423945</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PodcastClient/AdditionalClasses/SubscriptionManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                    
</string>
				<key>leading</key>
				<string>                switch (response as? HTTPURLResponse)?.statusCode {
                case 200:
</string>
				<key>trailing</key>
				<string>                    return data
                case .none:
                    return nil
</string>
			</dict>
			<key>title</key>
			<string>Check if response header is valid XML/RSS/ATOM</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>104</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>103</string>
					<key>Timestamp</key>
					<string>726698647.010921</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PodcastClient/DataClasses/Podcast.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            }else{
</string>
				<key>leading</key>
				<string>                    return nil
                }
</string>
				<key>trailing</key>
				<string>                // feed has never been fetched before, no last modified date is set.
                return true
            }
</string>
			</dict>
			<key>title</key>
			<string>Somehow the lastModified date get's lost and this else is always called</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
